body{
    margin: 0;

}
/* 导航部分 */
.nav{
    width: 100vw;
    height: 80px;
    background: #343434;
}
.logo{
    width: 125px;
    height: 62px;
    background: url(../images/logo.png)  no-repeat 0 0  /cover;
    margin-left: 180px;
    margin-top: 9px;
    float: left;
}
.nav_items{
    width: 980px;
    height: 20px; 
    /* background: yellowgreen; */
    margin-right: 180px;
    margin-top: 30px;
    float: right;
    cursor: pointer;
}
.nav_item{
    width:140px ;
    height: 20px;
    /* background: red; */
    font-size: 16px;
    color: #fff;
    text-align: center;
    letter-spacing:1px;  
    float: left;
}
.nav_item:nth-child(1):hover{
    transform: scale(1.5,1.5);
    color: #e3a841;
    font-weight: bolder;
}
.nav_item:nth-child(2):hover{
    transform: scale(1.5,1.5);
    color: #e3a841;
    font-weight: bolder;
}
.nav_item:nth-child(3):hover{
    transform: scale(1.5,1.5);
    color: #e3a841;
    font-weight: bolder;
}
.nav_item:nth-child(4):hover{
    transform: scale(1.5,1.5);
    color: #e3a841;
    font-weight: bolder;
}
.nav_item:nth-child(5):hover{
    transform: scale(1.5,1.5);
    color: #e3a841;
    font-weight: bolder;
}
.nav_item:nth-child(6):hover{
    transform: scale(1.5,1.5);
    color: #e3a841;
    font-weight: bolder;
}
.nav_item:nth-child(7):hover{
    transform: scale(1.5,1.5);
    color: #e3a841;
    font-weight: bolder;
}
/* banner部分  */
.banner{
    width: 100vw;
    height: 800px;
    background: url(../images/banner_bg.jpg)  no-repeat 0 0  /cover;  
}
.banner_left{
    width: 930px;
    height: 438px;
    float: left;
    margin-top: 114px;
    margin-left: 180px;
}
.banner_content1{
    width: 930px;
    height: 107px;
    background: url(../images/标题.png);
    transform-origin: left;
    transform: rotateY(45deg);
    transition: transform 0.1s linear;
    cursor: pointer;
}
.banner_content2{
    width: 400px;
    height: 54px;
    background: url(../images/Noahtechnology.png);
    margin-top: 107px; 
}
.banner_content3{
    width: 636px;
    height: 30px;
    background: url(../images/诺亚方舟.png);
    margin-top: 29px;
}
.banner_content4{
    width: 457px;
    height:16px;
    background: url(../images/w.png);
    margin-top: 37px;

}
.banner_content5{
    width: 497px;
    height: 19px;
    background: url(../images/5.png);
    margin-top: 39px;
}
.banner_right{
    width: 157px;
    height: 119px;
    background: url(../images/底部.png);
    margin-right: 270px;
    margin-bottom: 54px;
    float: right;
    transition:transform  0.1s linear;
    transform: rotate(360deg);

}
 /* 基地简介部分 */
.content1{
    width: 100vw;
    height: 800px;
    background:#dde7f0 url(../images/c11.png) no-repeat right 0 ;
    box-sizing:border-box;
    padding: 175px;

}
.con{
    width: 1125px;
    height: 450px;
    /* background:red ; */
}
.con_top{
    width: 230px;
    height: 190px;
    background: url(../images/01.png) no-repeat right 0;
    box-sizing: border-box;
    padding-top: 81px;
    transform: translateX(-300px);
    transition: transform 0.3s linear;


}
.con_top1{
    width: 54px;
    height: 28px;
    background:  url(../images/jux.png) no-repeat;

    

}
.con_mid{
    width: 412px;
    height: 60px;
    /* background: darkblue; */
    font-size: 50px;
    color: #343434;
    z-index: 1;
    transform: translateX(600px);
    transition: transform 0.3s linear;

}
.con_tail{
    width: 960px;
    height: 200px;
    /* background: darkmagenta; */
    line-height: 28px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #343434;
    z-index: 1;
    margin-top: 50px;
}


.content2{
    width: 100vw;
    height: 800px;
    background:#1f1f1f   url(../images/c222.png) no-repeat left 0 ;
    box-sizing:border-box;
    padding: 175px;

}
.con2{
    width: 1125px;
    height: 450px;
    /* background:red ; */
}
.con_top2{
    width: 282px;
    height: 190px;
    background:  url(../images/2-tit2.png) no-repeat right 0 ;
    box-sizing: border-box;
    padding-top: 81px; 
    margin-left: 843px;
    transform: translateX(300px);
    transition: transform 0.3s linear;
}
.con_top2_1{
    width: 54px;
    height: 28px;
    background: url(../images/jux2.png) no-repeat;
}
.con_mid2{
    width:504px;
    height: 60px;
    /* background: darkblue; */
    font-size: 50px;
    color: #abaaaa;
    z-index: 1;   
     float: right;
     transform: translateX(-600px);
     transition: transform 0.3s linear;
}
.con_tail2{
    width: 960px;
    height: 200px;
    /* background: darkmagenta; */
    line-height: 28px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #abaaaa;
    z-index: 1;
    margin-top: 50px;
    float: right;
}
/* 产业融合部分 */

.mix{
width: 100vw;
height: 800px;
/* background: cadetblue; */
position: relative;
margin:0 auto;
}
.mix_top{
width: 100vw;
height: 455px;
background: url(../images/3屏上2.jpg) no-repeat 0 0 /cover;
box-sizing: border-box;
padding-top: 114px;
padding-left: 740px;
position: absolute;
}
.mix_top_con1{
width: 696px;
height: 57px;
background: url(../images/3-top.png);
transform: rotateX(90deg);
transition: transform 0.5s linear;
}
.mix_top_con2{
width: 696px;
height: 57px;
background:  url(../images/3-bot.png);
margin-top: 5px;
transform: rotateX(90deg);
transition: transform 0.5s linear;
}
.mix_bot{
    width: 1280px;
    height: 492px;

    background:#5081ea;
    position: absolute;
    top: 312px;
    left:120px;
    /* box-shadow: 10px 10px 20px 10px rgba(red, green, blue, .5); */

}
.mix_bot_1{
    width: 320px;
    height: 488px;
    background: #32373d;
    position: relative;
    box-sizing: border-box;
    padding-top: 63px;
    float: left;
} 
.mix_bot_1_title{
    width: 146px;
    height: 25px;
    /* background: #c03369; */
    margin: 0px auto 12px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align:center;
}
.mix_bot_1_mid{
    width: 190px;
    height:37px;
    /* background: #d010e9; */
    margin: 0 auto;
    margin: 0px auto 53px;
    font-size: 18px;
    color: #939496;
    line-height :20px;
    text-align:center;
}
.mix_bot_1_con{
    width: 285px;
    height: 194px;
    /* background: #1669ce; */
    margin: 0 auto;
    margin: 0px auto 86px;
    font-size: 18px;
    color: #939496;
    text-align: justify;
    line-height :28px;
}
.mix_bot_1_b{
    width: 320px;
    height: 10px;
    background: #fff;
    position: absolute;
    bottom: 0px;

}
.mix_bot_1:hover{
   transform: scale(1.2,1.2);
   transition: transform 0.5s linear;
   transform-origin: bottom;
   background: #fff;
   z-index: 1;


}
.mix_bot_1:hover >.mix_bot_1_title{
    color: #33363d;
    z-index: 2;
}
.mix_bot_1:hover >.mix_bot_1_mid{
    color: #727272;
    z-index: 2;
}
.mix_bot_1:hover >.mix_bot_1_bot{
    color: #727272;
    z-index: 2;
}
.mix_bot_1:hover >.mix_bot_1_b{
    background:#5081ea;
    z-index: 1;
 }


.mix_bot_2{
    width: 320px;
    height: 488px;
    background: #3b4048;
    position: relative;
    box-sizing: border-box;
    padding-top: 63px;
    float: left;
} 
.mix_bot_2_title{
    width: 160px;
    height: 25px;
    /* background: #c03369; */
    margin: 0px auto 12px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align:center;
}
.mix_bot_2_mid{
    width: 190px;
    height:37px;
    /* background: #d010e9; */
    margin: 0 auto;
    margin: 0px auto 53px;
    font-size: 18px;
    color: #939496;
    line-height :20px;
    text-align:center;
}
.mix_bot_2_con{
    width: 285px;
    height: 194px;
    /* background: #1669ce; */
    margin: 0 auto;
    margin: 0px auto 86px;
    font-size: 18px;
    color: #939496;
    text-align: justify;
    line-height :28px;
}
.mix_bot_2_b{
    width: 320px;
    height: 10px;
    background: #fff;
    position: absolute;
    bottom: 0px;

}
.mix_bot_2:hover{
   transform: scale(1.2,1.2);
   transition: transform 0.5s linear;
   transform-origin: bottom;
   background: #fff;
   z-index: 1;
}
.mix_bot_2:hover >.mix_bot_2_title{
    color: #33363d;
    z-index: 2;
}
.mix_bot_2:hover >.mix_bot_2_mid{
    color: #727272;
    z-index: 2;
}
.mix_bot_2:hover >.mix_bot_2_bot{
    color: #727272;
    z-index: 2;
}
.mix_bot_2:hover >.mix_bot_2_b{
    background:#5081ea;
    z-index: 1;
 }


.mix_bot_3{
    width: 320px;
    height: 488px;
    background: #32373d;
    position: relative;
    box-sizing: border-box;
    padding-top: 63px;
    float: left;
} 
.mix_bot_3_title{
    width: 146px;
    height: 25px;
    /* background: #c03369; */
    margin: 0px auto 12px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align:center;
}
.mix_bot_3_mid{
    width: 190px;
    height:37px;
    /* background: #d010e9; */
    margin: 0 auto;
    margin: 0px auto 53px;
    font-size: 18px;
    color: #939496;
    line-height :20px;
    text-align:center;
}
.mix_bot_3_con{
    width: 285px;
    height: 194px;
    /* background: #1669ce; */
    margin: 0 auto;
    margin: 0px auto 86px;
    font-size: 18px;
    color: #939496;
    text-align: justify;
    line-height :28px;
}
.mix_bot_3_b{
    width: 320px;
    height: 10px;
    background: #fff;
    position: absolute;
    bottom: 0px;

}
.mix_bot_3:hover{
   transform: scale(1.2,1.2);
   transition: transform 0.5s linear;
   transform-origin: bottom;
   background: #fff;
   z-index: 1;
}
.mix_bot_3:hover >.mix_bot_3_title{
    color: #33363d;
    z-index: 2;
}
.mix_bot_3:hover >.mix_bot_3_mid{
    color: #727272;
    z-index: 2;
}
.mix_bot_3:hover >.mix_bot_3_bot{
    color: #727272;
    z-index: 2;
}
.mix_bot_3:hover >.mix_bot_3_b{
    background:#5081ea;
    z-index: 1;
 }

 
 .mix_bot_4{
    width: 320px;
    height: 488px;
    background: #3b4048;
    position: relative;
    box-sizing: border-box;
    padding-top: 63px;
    float: left;
} 
.mix_bot_4_title{
    width: 220px;
    height: 25px;
    /* background: #c03369; */
    margin: 0px auto 12px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align:center;
}
.mix_bot_4_mid{
    width: 190px;
    height:37px;
    /* background: #d010e9; */
    margin: 0 auto;
    margin: 0px auto 53px;
    font-size: 18px;
    color: #939496;
    line-height :20px;
    text-align:center;
}
.mix_bot_4_con{
    width: 285px;
    height: 194px;
    /* background: #1669ce; */
    margin: 0 auto;
    margin: 0px auto 86px;
    font-size: 18px;
    color: #939496;
    text-align: justify;
    line-height :28px;
}
.mix_bot_4_b{
    width: 320px;
    height: 10px;
    background: #fff;
    position: absolute;
    bottom: 0px;

}
.mix_bot_4:hover{
   transform: scale(1.2,1.2);
   transition: transform 0.5s linear;
   transform-origin: bottom;
   background: #fff;
   z-index: 1;
}
.mix_bot_4:hover >.mix_bot_4_title{
    color: #33363d;
    z-index: 2;
}
.mix_bot_4:hover >.mix_bot_4_mid{
    color: #727272;
    z-index: 2;
}
.mix_bot_4:hover >.mix_bot_4_bot{
    color: #727272;
    z-index: 2;
}
.mix_bot_4:hover >.mix_bot_4_b{
    background:#5081ea;
    z-index: 1;
 }



/* 产教融合创新平台部分 */
.innovate1{
width: 100vw;
height: 800px;
/* background: red; */
box-sizing: border-box;
padding-top: 45px;
}
.innovate1_con1{
width: 1206px;
height: 710px;
/* background: greenyellow; */
margin: 0px auto;
position: relative;
}
.innovate1_con1_img1{
    width: 763px;
    height: 143px;
    background:  url(../images/pr.png);
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-500px);

}
.innovate1_con1_img2{
    width: 583px;
    height: 431px;
    background:  url(../images/4tu1.png);
    position: absolute;
    top:280px;
    left: 0px; 
    transform:rotateX(90deg) ;
    transform-origin: bottom;


}
.innovate1_con1_img3{
    width:239px;
    height: 473px;
    background: url(../images/4.11.png);
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    transform: rotateY(60deg);
    transform-origin: right;

 

}
.innovate1_con1_img4{
    width: 404px;
    height: 379px;
    background:url(../images/N.png);
    position: absolute;
    right:132px;
    bottom: 0px;
    transform: translateX(500px);
 
}
.innovate1_text{
    width: 1206px;
    height: 23px;
    /* background: rgb(95, 216, 155); */
    margin: 0px auto;  
    z-index: 1;
    font-size: 22px;
    color:#585858;
    text-align: right;
    letter-spacing: 6px;
    line-height: 24px;
    margin: 0px auto;
}


.innovate2{
    width: 100vw;
    height: 800px;
    /* background: red; */
    box-sizing: border-box;
    padding-top: 45px;
    }
    .innovate2_con2{
    width: 1206px;
    height: 710px;
    /* background: rgb(47, 189, 255); */
    margin: 0px auto;
    position: relative;
    }
    .innovate2_con2_img1{
        width: 858px;
        height: 142px;
        background:  url(../images/4-and.png);
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        transform: translateX(500px);
    
    }
    .innovate2_con2_img2{
        width: 590px;
        height: 433px;
        background:  url(../images/4tu2.png);
        position: absolute;
        right:0px;
        bottom: 0px;
        transform:rotateX(90deg) ;
        transform-origin: bottom;
     
    }
    .innovate2_con2_img3{
        width:188px;
        height: 472px;
        background: url(../images/4.22.png);
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 1;
        transform: rotateY(60deg);
        transform-origin: left;
     
    
    }
    .innovate2_con2_img4{
        width: 370px;
        height: 379px;
        background: url(../images/A\ .png);
        position: absolute;
        left:104px;
        top: 0px;
        transform: translateX(-500px);
     
    }
    /* .innovate2_text{
        width: 1206px;
        height: 23px;
        background: rgb(95, 216, 155);
        margin: 0px auto;  
        z-index: 1;
        font-size: 22px;
        color:#585858;
        text-align: left;
        letter-spacing: 6px;
        line-height: 24px;
        margin: 0px auto;
    } */

    /* 文创工坊部分*/
.culture{
widows: 100vw;
height: 800px;
/* background: red; */
box-sizing: border-box;
padding-top: 59px;
}
.culture_con{
    width: 1066px;
    height: 682px;
    /* background:rgb(161, 47, 255); */
    margin: 0px auto;
    position: relative;
}
.culture_con1{
    width: 254px;
    height: 45px;
    background:  url(../images/5.11.png);
    position: absolute;
    top: 0px;
    left: 406px;
}
.culture_con2{
    width: 510px;
    height: 28px;
    /* background:rgb(76, 230, 71) ; */
    position: absolute;
    top:74px;
    left: 278px;

}
.culture_con2_1{
    width: 80px;
    height: 2px;
    background: #585858;
    float: left;
    margin-left: 25px;
    margin-top: 13px;
}
.culture_con2_2{
    width: 300px;
    height: 28px;
    float: left;
    font-size: 22px;
    color: #585858;
    text-align: center;
    letter-spacing: 10px;
    line-height: 24px;
    /* background: red; */
    text-align:center;
}
.culture_con2_3{
    width: 80px;
    height: 2px;  
    background: #585858;
    float: left;
    margin-right: 25px;
    margin-top: 13px;

}
.culture_con3{
    width: 820px;
    height: 22px;
    /* background:rgb(255, 47, 175); */
    position: absolute;
    top:121px;
    left: 123px;
    font-size: 22px;
    color: #585858;
    text-align: center;
    letter-spacing: 2px;
    line-height: 24px;
}

.culture_con4{
    width: 1066px;
    height: 510px;
    background: url(../images/5.33.png);
    position: absolute;
    bottom: 0px;
    transform: rotateX(90deg);
    /* transform-origin: bottom; */
}

/* 校企合作部分 */
.coop{
width: 100vw;
height: 800px;
/* background: red; */
box-sizing: border-box;
padding-top: 43px;
}
.coop_c{
width: 1206px;
height: 714px;
/* background: rgb(69, 201, 206); */
margin: 0 auto;
position: relative;

}
.coop_c_title{
    width: 182px;
    height: 44px;
    /* background: rgb(101, 206, 69); */
    position:absolute;
    left: 0px;
    font-size: 44px;
    color: #585858;
    text-align: center;
    letter-spacing:1px;
    line-height: 40px;
    /* background: red; */
    text-align:center;
    transform: translateX(-300px);

}
.coop_c_mid{
    width: 540px;
    height: 22px;
    background:  url(../images/AND\ THE\ UNIVERSITY\ EBTERPRISE.png) no-repeat 0 0 /cover;
    position:absolute;
    left: 0px;
    top: 78px;
    transform: translateX(-300px);
}
.coop_c_con{
    width: 1003px;
    height: 62px;
    /* background: rgb(69, 78, 206); */
    position:absolute;
    left: 0px;
    top: 125px;
    font-size: 22px;
    color: #585858;
    text-align: left;
    letter-spacing:8px;
    line-height: 28px;


}
.coop_c_more{
    width: 112px;
    height: 38px;
    border:  1px solid #585858;
    position:absolute;
    top: 215px;
    left: 0px;
    padding-top: 5px;
    box-sizing: border-box;
}
.coop_c_more_con{
    width: 100px;
    height:28px;
    /* background: rgb(69, 206, 110); */
    font-size: 22px;
    color: #585858;
    text-align: center;
    letter-spacing:1px;
    line-height: 28px;
    margin: 0 auto;

}
.coop_c_img{
    width: 968px;
    height:293px;
    /* background: red; */
    position:absolute;
    right: 0px;
    top: 296px;
}
.coop_c_img1{
    width: 312px;
    height:293px;
    background:  url(../images/school-02.png);
    float: left;
    cursor: pointer;

}
.coop_c_img1:hover{
transform: scale(1.2,1.2);
transition: transform 0.5s linear;
}
.coop_c_img2{
    width: 312px;
    height:293px;
    background:  url(../images/school-03.png);
    float: left;
    margin-left: 16px;
    cursor: pointer;
}
.coop_c_img2:hover{
    transform: scale(1.2,1.2);
    transition: transform 0.5s linear;
    }
.coop_c_img3{
    width: 312px;
    height:293px;
    background:url(../images/school-04.png);
    float: right;
    cursor: pointer;
}
.coop_c_img3:hover{
    transform: scale(1.2,1.2);
    transition: transform 0.5s linear;
    }
.coop_c_dou{
    width: 71px;
    height:63px;
    background:  url(../images/逗号.png);
    position:absolute;
    left: 0px;
    bottom: 29px;
}
.coop_c_foot{
    width:615px;
    height:30px;
    background:  url(../images/THEY\ \ SUBVERTED\ \ WITH\ \ NOAH\ .png);
    position:absolute;
    right: 0px;
    bottom: 0px;
    transform: translateX(500px);
}

/* 结尾 */
.f{
width: 100vw;
height: 800px;
background: #353b47;
box-sizing: border-box;
padding-top: 87px;
}
.foot{
    width: 1206px;
    height: 626px;
    /* background: rgb(100, 204, 59); */
    margin: 0 auto;
    position: relative;

}
.foot_bg1{
    width: 637px;
    height: 158px;
    background: url(../images/NOAH\ \ .png);
    position:absolute;
    top: 0px;
    left: 0px;
}
.foot_bg2{
    width: 1206px;
    height: 158px;
    background:  url(../images/TECHNOLOGY.png);
    position:absolute;
    top: 199px;
    left: 0px;
}
.foot_logo{
    width:121px;
    height:61px;
    background:  url(../images/logo.png);
    position:absolute;
    top: 140px;
    left: 0px;
}

.foot_con{
    width: 1206px;
    height: 43px;
    /* background: rgb(255, 5, 5); */
    position:absolute;
    top: 313px;
}
.foot_con1{
    width:161px;
    height: 43px;
    /* background: rgb(134, 202, 132); */
    float: left;   
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;
}
.foot_con1_c{
    width: 80px;
    height: 43px;
    /* background: rgb(89, 0, 255); */
    float: left; 
    font-size: 16px;
    color: #a9aaab;
    text-align: left;
}
.foot_con2{
    width:161px;
    height: 43px;
    /* background: rgb(132, 139, 202); */
    float: left;
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;

}
.foot_con2_c{
    width: 80px;
    height: 43px;
    /* background: rgb(89, 0, 255); */
    float: left;
    font-size: 16px;
    color: #a9aaab;
    text-align: left;
}
.foot_con3{
    width:161px;
    height: 43px;
    /* background: rgb(202, 140, 132); */
    float: left;
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;
}
.foot_con3_c{
    width: 80px;
    height: 43px;
    /* background: rgb(89, 0, 255); */
    float: left;
    font-size: 16px;
    color: #a9aaab;
    text-align: left;
}
.foot_con4{
    width:161px;
    height: 43px;
    /* background: rgb(182, 132, 202); */
    float: left;
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;
}
.foot_con4_c{
    width: 80px;
    height: 43px;
    /* background: rgb(54, 196, 84); */
    float: left;
    font-size: 16px;
    color: #a9aaab;
    text-align: left;
}
.foot_con5{
    width:161px;
    height: 43px;
    /* background: rgb(247, 53, 237); */
    float: left;
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;
}
.foot_con5_c{
    width: 80px;
    height: 43px;
    /* background: rgb(181, 151, 236); */
    float: left;
    font-size: 16px;
    color: #a9aaab;
    text-align: left;
}

.foot_line{
    width:1206px;
    height: 2px;
    background:#3b414d;
    float: left;
    position: absolute;
    top: 391px;
}
.foot_message{
    width:312px;
    height: 202px;
    /* background:#3d6bc7; */
    float: left;
    position: absolute;
    left: 0px;
    top: 424px;
}
.foot_message_1{
    width:300px;
    height: 48px;
    /* background:#59c73d; */
    margin-top: 0px;

}
.foot_message_1_t{
    width:260px;
    height: 48px;
    /* background:#3d69c7; */
    float: right;
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;
}
.foot_message_1_img{
    width:40px;
    height:40px;
    background:url(../images/dizhi.png);
    float: left;
    margin-top: 4px;
}
.foot_message_2{
    width:300px;
    height: 48px;
    /* background:#59c73d; */
    margin-top: 29px;
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;
}
.foot_message_2_t{
    width:260px;
    height: 48px;
    /* background:#3d69c7; */
    float: right;
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;
    line-height: 48px;
}
.foot_message_2_img{
    width:40px;
    height:40px;
    background: url(../images/xinfeng.png);
    float: left;
    margin-top: 4px;
}
.foot_message_3{
    width:300px;
    height: 48px;
    /* background:#59c73d; */
    margin-top: 29px;
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;
}
.foot_message_3_t{
    width:260px;
    height: 48px;
    /* background:#3d69c7; */
    float: right;
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;
    line-height: 48px;

}
.foot_message_3_img{
    width:40px;
    height:40px;
    background: url(../images/dianhua.png);
    float: left;
    margin-top: 4px;
}
.foot_end{
    width:413px;
    height: 46px;
    /* background:#3b414d; */
    float: left;
    position: absolute;
    right: 0px;
    top: 424px;
    font-size: 14px;
    color: #a9aaab;
    text-align: left;
    letter-spacing: 1px;
    line-height: 22px;


}